.Card {
  display: flex;
  background: #fff;
  box-shadow: 0 10px 6px -6px #777;
  padding: 5px;
}
.Card--directionRow {
  flex-direction: row;
}
.Card--directionColumn {
  flex-direction: column;
}
.Card--directionColumnReverse {
  flex-direction: column-reverse;
}
.Card--directionRowReverse {
  flex-direction: row-reverse;
}
.Card-price {
  display: flex;
  position: absolute;
  align-self: flex-end;
  text-align: right;
}
.Card-image {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.Card-imagePreview {
  display: flex;
  flex-direction: row;
}
.Card img {
  width: 100%;
}
.Card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #A7D6FE;
  color: #FFF;
}
