@CardBg: #fff;
@imageBg: #8DC4FD;
@contentBg: #A7D6FE;
@contentColor: #FFF;
.Card {
  display: flex;
  background: @CardBg;
  box-shadow: 0 10px 6px -6px #777;
  padding: 5px;

  &--directionRow {
    flex-direction: row;
  }
  &--directionColumn {
    flex-direction: column;
  }
  &--directionColumnReverse {
    flex-direction: column-reverse;
  }
  &--directionRowReverse {
    flex-direction: row-reverse;
  }

  &-price {
    display: flex;
    position: absolute;
    align-self: flex-end;
    text-align: right;

  }

  &-image {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  &-imagePreview {
    display: flex;
    flex-direction: row;

  }
  img {
    width: 100%;
  }
  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: @contentBg;
    color: @contentColor;
  }

}