.Container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Container--centered {
  margin: 0 auto;
}
.Container-col {
  display: flex;
  flex-direction: column;
}
.Container-row {
  display: flex;
  flex-direction: row;
}
