.Nav {
  display: flex;
  list-style: none;
  line-height: 2.5;
  border: 1px solid black;
  background: #4F80E1;
  color: #fff;
 &-items {
   display: flex;
   background: #7DAEE9;
   &--alignSelf {
     margin-left: auto;
   }
 }
}